.lista{
    @media(max-width: 768px){
    max-width:100% !important;
    }
}
#vamos{
    padding: 0 !important;
}

.paragraph{

border-radius: 15px;
    p{
        font-size: 19px;
        text-align:center;
        
    }
}
.expandTitle{
    text-align: center;
    font-size: 5.3rem;
    color:#8bc9dc;
    text-shadow: #93b6c0 -4px 4px 10px, #65767a -6px 4px 2px;
    
}